#banner
{
    POSITION: relative;
    TOP: 0px
}
#banner #txt
{
    Z-INDEX: 1;
    LEFT: 20px;
    COLOR: #fff;
    POSITION: absolute;
    TOP: 40px
}
#banner #txt UL
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    LEFT: 20px;
    LIST-STYLE-IMAGE: url(seta_amarela.gif);
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    POSITION: relative
}
#banner #txt UL LI
{
    FONT-SIZE: 11px
}
#banner #txt A
{
    FONT-SIZE: 11px;
    COLOR: #fff;
    TEXT-DECORATION: none
}
#banner #txt A:hover
{
    TEXT-DECORATION: underline
}
#rodapeBanner
{
    BACKGROUND: url(barra.jpg) no-repeat;
    WIDTH: 380px;
    POSITION: relative;
    TOP: 0px;
    HEIGHT: 16px
}
#rodapeBanner DIV
{
    FLOAT: left
}
#rodapeBanner .on
{
    BACKGROUND: url(aba2.jpg) no-repeat;
    COLOR: #333232;
}
.rodapeBannerAba
{
    FONT-SIZE: 10px;
    BACKGROUND: url(aba1.jpg) no-repeat;
    WIDTH: 28px;
    CURSOR: pointer;
    COLOR: #8D8B8B;
    FONT-WEIGHT: bold;
    HEIGHT: 16px;
    TEXT-ALIGN: center
}