.validate select {
    color:#333;
    margin-bottom:10px; 
	display:block;
}

.validate label {
    padding:6px;
    padding-left:0px;
    margin-top:8px; 
    color:#666;
}
.validate .invalid {
    border:1px solid red;
    -moz-box-shadow: 0 0 3px red;
    -webkit-box-shadow: 0 0 3px red;
    box-shadow: 0 0 3px red;
}